spring:
  application:
    name: file-extension-blocker

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/blockerdb}
    username: ${DB_USERNAME:blocker}
    password: ${DB_PASSWORD:blocker1234}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 100MB

server:
  port: 8080

# Custom Extension Limit
app:
  custom-extension-limit: 200
